<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Async Await Javascript ES7</title>
    
</head>
<body>
    <a href="/"><- Return to Home Page</a>
    <h3>Page with Examples of Async Await Javascript ES7</h3>
    <p>If you want to see, please, open the console!</p>
    <p>Video example -> <a href="https://www.youtube.com/watch?v=IGoAdn-e5II" target="_blank">here</a></p>

    
    <script src="/js/async_await.js"></script>
</body>
</html>